<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		#barra{
			margin: 0;
			padding: 0;
			list-style: none;
			text-transform: uppercase;
			background: #D826BFFF;
		}

		#barra li{
			display: inline;
			margin: 0 20px;
		}
	</style>
</head>
<body>
	<ul id="barra">
		<li><a href="javascript:void(0)">HOME</a></li>
		<li><a href="jscript:void(0)">Servicios</a></li>
		<li><a href="jscript:void(0)">Quienes somos</a></li>
		<li><a href="jscript:void(0)">Contacto</a></li>
		<li><a href="jscript:void(0)">Acerca de</a></li>
	</ul>
</body>
</html>